<!DOCTYPE html>

<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>

  <body>
    <h1>Contact us!</h1>
    <form action='/submit' method="post">
      <input type="text" name="firstName" placeholder="First Name">
      <input type="text" name="lastName" placeholder="Last Name">
      <input type="text" name="email" placeholder="Email address">
      <input type="text" name="message" placeholder="Write your message here...">
      <input type="submit" name="submit message">
    </form>

  </body>

</html>
